html{
    scroll-behavior: smooth;
}
body{
    color: #292929;
    font-family: "Inter", sans-serif;

    margin: 0;

    font-size: 16px;

line-height: 140%;
}
h1{
    margin: 0;
    margin-top: 40px;
    font-weight: 800;
    font-style: Italic;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;

}
.menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    background-color: #E8EFF9;
    height: 100vh;
    padding: 64px 120px ;
    box-sizing: border-box;

    
    
    
}
.menu:target{
    transform: translateX(0%);
    
}
nav{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.nav-link{
    text-decoration: none;
    color: #292929;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;

    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;

}   
.nav-link:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 120px;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(images/Headphones-image-1.png);
    background-size: cover;
    background-position: top center;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.menu-button{
    height: 24px;
    width: 24px;
    display: block ;
    background-image: url(images/Icon-Burger-menu.png);
}
.menu-top{
    display:flex;
    justify-content: space-between;
}
.close-btn{
    height: 24px;
    width: 24px;
    display: block;
    
    background-image: url(images/Icon-Close.png);
}
.menu-button:hover{
    background-image: url(images/Icon-Burger-menu-hover.png);
}
main{
    padding-inline: 120px;
    background-color: #ffff;
    padding: 120px;

}
.recommended-title{

    margin-bottom: 64px;
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 48px;
letter-spacing: -1.5px;
text-align: center;
}
.cat-title{
    margin-top: 120px;
    margin-bottom: 64px;
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 48px;
letter-spacing: -1.5px;
text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 40px;

}
.product-photo{
    width: 100%;
}
.product-title{
    margin: 0;
    margin-top: 32px;
    

    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    letter-spacing: 0px;
    

}
.product-price{
    margin-top: 12px;
    margin: 0;
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;

}
.product-dic{
    margin-top: 8px;
    margin: 0;
    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;

line-height: 140%;
letter-spacing: 0px;

}

.category{
    margin-top: 64px;
}


.photo{
    display: flex;
    justify-content: space-between;
}
.photo-w{
    width: 66%;
}
.photo-s{
    width: 32%;
}
.category-title{
    margin: 0;
    margin-top: 16px;
font-weight: 700;
font-style: Bold;


}


.ben-title{
    margin: 0;

font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 48px;
letter-spacing: -1.5px;
}

.sec-b{
    margin-top: 120px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24;

}
.b-dic{
font-size: 16px;
line-height: 27px;
letter-spacing: 0px;
margin: 0;
margin-top: 40px;

}
.ben-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 700;


}
footer{
    height: 460px;
    background-image: url(images/end-1.png);
    background-size: cover;
    background-position: top center;
    position: sticky;
    bottom: 0;
    z-index: -1;
}